div.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

div.logo-container img.isologo {
    width: 35px;
    height: 35px;
    margin-right: 18px;
}

div.logo-container div.logo-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
}

div.logo-container div.logo-text h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--branding-color-2);
}

div.logo-container div.logo-text span {
    color: #fff;
    background-color: var(--branding-color-2);
    font-size: 11px;
    margin-left: 5px;
    text-transform: uppercase;
    padding: 0 3px;
}