.item {
    width: calc(60% * (1/4) - 10px - 1px);
    display: flex;
    flex-direction: column;
    padding: 26px;
    color: var(--branding-color-2);
}

.item h2 {
    margin-bottom: 0;
}

.item p {
    color: var(--grey-dark-3);
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 0;
}

.item img {
    max-width: 250px;
}