header img.quotes {
    height: 45px;
    width: auto;
}

header div.logo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header div.logo-container img.isologo {
    width: 35px;
    height: 35px;
    margin-right: 18px;
}

header div.logo-container div.logo-text {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: default;
    user-select: none;
}

header div.logo-container div.logo-text h2 {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--primary-color-blackgrey);
}

header div.logo-container div.logo-text span {
    color: #fff;
    background-color: var(--primary-color-blackgrey);
    font-size: 11px;
    margin-left: 5px;
    text-transform: uppercase;
    padding: 0 3px;
}