nav.nav-bar a {
    margin-right: 18px;
    text-decoration: none;
    color: #57606f;
}

nav.nav-bar a:hover {
    text-decoration: underline;
    color: #2f3542;
}

nav.nav-bar a:last-child {
    margin-right: 0;
}