body {
  background-color: #f1f2f6;
  color: #333;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
}

.m-l_a { margin-left: auto; }
.m-lr_32 { margin: 0 32px; }
.p-tb_22 { padding: 22px 0; }
.d-f { display: flex; }
.f-d_r { flex-direction: row; }
.a-i_c { align-items: center; }