body {
  background-color: var(--grey-light-2);
  color: var(--branding-color-2);
}

.basic-container {
  max-width: 80%;
  margin: 0 auto;
  padding: 0 32px;
  min-width: 400px;
}

.clean-button {
  border: none;
  text-decoration: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn-primary {
  display: block;
  border: none;
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 5px;
  text-align: center;
  font-weight: 600;
  color: var(--grey-light-1);
  padding: 10px 0;
  background-color: var(--branding-color-1);
}

.btn-primary:hover {
  background-color: var(--branding-color-1-hover);
}

.btn-primary.disabled {
  color: var(--grey-dark-1);
  background-color: var(--grey-light-3);
}

.btn-grey {
  height: 25px;
  width: 25px;
  display: block;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--grey-light-3);
  color: var(--grey-dark-2);
  font-weight: bold;
}

.btn-grey:hover {
  background-color: var(--grey-light-4);
}

a.a-small {
  color: var(--branding-color-2);
  font-size: 12px;
}

a.a-small:hover {
  color: var(--grey-dark-3);
}

form.any-f div.i-c {
  display: block;
}

form.any-f div.i-c label,
form.any-f div.i-c input {
  display: inline-block;
}

form.any-f div.i-c label {
  width: 35%;
  margin-right: 16px;
  font-weight: 600;
}

form.any-f div.i-c input {
  width: 45%;
  margin-left: 16px;
  border-radius: 5px;
  appearance: none;
  border: 1px solid var(--grey-light-4);
  background-color: var(--grey-light-2);
  color: var(--grey-dark-4);
}
/*
form.any-f div.i-c input+span.error-leyenda::before {
  margin-right: 16px;
  content: "";
  width: 35%;
  display: block;
}*/

form.any-f div.i-c input+span.error-leyenda {
  color: rgb(175, 10, 10);
  font-size: 12px;
  display: block;
}

form.any-f div.error-c {
  border-radius: 5px;
  color: rgb(175, 10, 10);
  background-color:rgb(255, 190, 190);
  border: 1px solid rgb(255, 150, 150);
  padding: 12px 16px;
  margin-top: 32px;
  display: none;
}

form.any-f div.error-c h4 {
  text-transform: uppercase;
  margin: 0;
}

form.any-f div.error-c p {
  margin: 0;
}

.ars-symbol::before { content: "$"; }

.c-g-d_2 { color: var(--grey-dark-2); }
.f-w_n { font-weight: normal; }
.t-a_c { text-align: center; }
.t-t_u { text-transform: uppercase; }

.b-r_5 { border-radius: 5px; }
.b-r_5p { border-radius: 5%; }

.bg-g-l_1 { background-color: var(--grey-light-1); }
.bg-g-l_2 { background-color: var(--grey-light-2); }
.bg-g-l_3 { background-color: var(--grey-light-3); }
.bg-g-l_4 { background-color: var(--grey-light-4); }
.bg-g-d_1 { background-color: var(--grey-dark-1); }
.bg-g-d_2 { background-color: var(--grey-dark-2); }
.bg-g-d_3 { background-color: var(--grey-dark-3); }
.bg-g-d_4 { background-color: var(--grey-dark-4); }

.bdr-g-l_1 { border: 1px solid var(--grey-light-1); }
.bdr-g-l_2 { border: 1px solid var(--grey-light-2); }
.bdr-g-l_3 { border: 1px solid var(--grey-light-3); }
.bdr-g-l_4 { border: 1px solid var(--grey-light-4); }
.bdr-g-d_1 { border: 1px solid var(--grey-dark-1); }
.bdr-g-d_2 { border: 1px solid var(--grey-dark-2); }
.bdr-g-d_3 { border: 1px solid var(--grey-dark-3); }
.bdr-g-d_4 { border: 1px solid var(--grey-dark-4); }

.m-w_80p { max-width: 80%; }
.m-w_25p { max-width: 25%; }
.w_15p { width: 15%; }
.w_35p { width: 35%; }
.w_50p { width: 50%; }
.w_55p { width: 55%; }
.w_60p { width: 60%; }
.w_100p { width: 100%; }

.m_0 { margin: 0; }
.m_32 { margin: 32px }
.m-t_0 { margin-top: 0px; }
.m-t_5 { margin-top: 5px; }
.m-t_12 { margin-top: 12px; }
.m-t_16 { margin-top: 16px; }
.m-t_32 { margin-top: 32px; }
.m-b_0 { margin-bottom: 0px; }
.m-b_32 { margin-bottom: 32px; }
.m-b_12 { margin-bottom: 12px; }
.m-b_16 { margin-bottom: 16px; }
.m-l_a { margin-left: auto; }
.m-l_32 { margin-left: 32px; }
.m-r_a { margin-right: auto; }
.m-r_32 { margin-right: 32px; }
.m-lr_32 { margin: 0 32px; }

.p_32 { padding: 32px }
.p_22 { padding: 22px }
.p-t_0 { padding-top: 0; }
.p-b_0 { padding-bottom: 0; }
.p-l_16 { padding-left: 16px; }
.p-l_32 { padding-left: 32px; }
.p-r_16 { padding-right: 16px; }
.p-r_32 { padding-right: 32px; }
.p-tb_22 { padding: 22px 0; }
.p-lr_22 { padding: 0 22px; }

.d-ib { display: inline-block; }
.d-f { display: flex; }
.f-d_r { flex-direction: row; }
.f-d_c { flex-direction: column; }
.f-w_w { flex-wrap: wrap; }
.a-i_c { align-items: center; }
.a-i_b { align-items: baseline; }
.a-i_fs { align-items: flex-start; }
.j-c_sb { justify-content: space-between; }
.j-c_c { justify-content:center }

@media screen and (max-width: 980px) {
  .row-to-column_in-980 { flex-direction: column; }
}