div.item-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;

    max-width: 100%;
    margin: 0 auto 30px;
}

@media (max-width:1400px) {
    div.item-list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:1002px) {
    div.item-list {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width:662px) {
    div.item-list {
        grid-template-columns: repeat(1, 1fr);
    }
}